.category {
  list-style: none;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.category__item {
  padding: 8px 7px;
  flex-grow: 1;
}

.category__item-container {
  display: flex;
  justify-content: space-between;
  padding-right: 32px;
}

.category__subcategory {
  list-style: none;
  padding: 0;
}

.category__subcategory-item {
  padding: 7px 32px;

  display: flex;
  justify-content: space-between;
}


.category__link {
  text-decoration: none;
  color: #333333;
}
