.product__wrapper {
  margin: 0 auto;
  width: 91.5%;

  @media (min-width: @tablets-width) {
    width: 100%;
  }
}

.product__card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
  row-gap: 16px;

  list-style: none;
  padding: 0;

  @media (min-width: @tablets-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 24px;
  }
}

.product__title {
  font-family: @font;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;

  @media (min-width: @tablets-width) {
    display: none;
  }
}
